@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ingrid+Darling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Ingrid+Darling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Joti+One&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.Logo {
  margin-right: 100px;
  font-family: "ingrid darling";
  font-size: 48px;
  color: rgb(70, 0, 0);
  background-color: rgb(107, 197, 228);
}
.nav {
  margin: auto;
  width: 85%;
  margin-left: 88%;
  font-family: "anton";
  font-size: 16px;
  color: rgb(193, 156, 45);
  background-color: rgb(107, 197, 228);
  justify-content: space-between;
  align-items: center;
}
#section1 {
  width: 100%;
  height: 100vh;
  background-image: url("panorama.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  box-sizing: border-box;
}
.raw {
  color: rgb(154, 69, 23);
  font-family: "Aguafina Script";
  font-size: 48px;
  text-align: center;
  margin-top: 80px;
}
.uy h2 {
  color: rgba(164, 81, 42, 0.885);
  font-family: "Kavoon";
  margin-left: 15%;
  font-size: 48px;
  flex: 1;
  padding: 10px;
  padding-left: 30px;
}
.uy p {
  color: rgb(18, 26, 81);
  margin-left: 15%;
  font-family: "Joti One";
  font-size: 40px;
  flex: 1;
  padding: 10px;
  padding-left: 30px;
}
.rawcun-photo {
  display: flex;
  margin-left: 70px;
  margin-top: 10px;
  width: 450px;
  height: 543px;
}
.uy .contact {
  color: antiquewhite;
  background-color: #4c8982;
  font-size: 32px;
  margin-left: 50%;
  margin-left: 15%;
}
#footer {
  text-align: left;
  padding: 10px;
}
